<section data-ng-controller="FoldersController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>{{folder.title}} <small class="text-muted">[ Folder Title ]</small></h1>
  </div>
  <div class="alert alert-info text-center" data-ng-if="folder.scanning">
    This folder is currently being scanned for music files.
  </div>
  <div class="col-md-12">
    <div class="pull-right" data-ng-show="authentication.user._id == folder.user._id && !folder.scanning">
      <a class="btn btn-primary" data-ng-click="update(true);" title="Rescan Folder">
        <i class="glyphicon glyphicon-refresh"></i>
      </a>
      <a class="btn btn-primary" href="/#!/folders/{{folder._id}}/edit" title="Edit Folder">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" data-ng-click="remove();" title="Delete Folder">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <div class="group">
      <dl>
        <dt>Path:</dt>
        <dd data-ng-bind="folder.path"></dd>
        <dt>Total Folders:</dt>
        <dd data-ng-bind="folder.subfolders.length"></dd>
        <dt>Total Files:</dt>
        <dd data-ng-bind="folder.musicFilesCount"></dd>
        <dt data-ng-if="folder.subfolders.length">Subfolders:</dt>
        <dd data-ng-if="folder.subfolders.length && !folder.scanning">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Path</th>
                <th>Last Scanned</th>
                <th>Files</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="subfolder in folder.subfolders">
                <td><a data-ng-href="#!/subfolders/{{subfolder._id}}">{{subfolder.title}}</a></td>
                <td>{{subfolder.path}}</td>
                <td>{{subfolder.lastScanned | date:'mediumDate'}}</td>
                <td>{{subfolder.musicFilesCount}}</td>
              </tr>
            </tbody>
          </table>
        </dd>
      </dl>
    </div>
    <audit-trail entity="folder"></audit-trail>
  </div>
  <br/>
  <div class="group">
    <div class="pull-left">
      <a href="#!/folders" class="btn btn-default" title="Go Back">Back</a>
    </div>
  </div>
</section>
