html, body {
  margin           : 0;
  font-family      : "Helvetic Neue", Helvetica, Arial, sans-serif;
  background-color : rgba(252, 253, 253, 1);
}

.jumbotron {
  background-color : #fff;
  border           : solid 0.1em #ddd;
  box-shadow       : #ccc 0.2em 0.2em 1.6em 0.3em;
}

.content {
  margin-top : 50px;
}

.undecorated-link:hover {
  text-decoration : none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display : none !important;
}

.ng-invalid.ng-dirty {
  border-color : #FA787E;
}

.ng-valid.ng-dirty {
  border-color : #78FA89;
}

.page-header {
  margin : 10px 0 5px;
}

.table-container {
  width      : 100%;
  max-width  : 100%;
  overflow-x : auto;
  margin     : 5px 0;
}

.table-container .table {
  margin-bottom : 0;
}

.pagination {
  margin : 0;
}
