<section data-ng-controller="SubfoldersController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>{{subfolder.title}}
      <small class="text-muted">[ Subolder Title ]</small>
    </h1>
  </div>
  <div class="col-md-12">
    <div class="group">
      <dl>
        <dt>Path:</dt>
        <dd data-ng-bind="subfolder.path"></dd>
        <dt>Total Files:</dt>
        <dd data-ng-bind="subfolder.musicFilesCount"></dd>
        <div data-ng-if="subfolder.tracks.length">
          <dt>Tracks:</dt>
          <dd>
            <div class="table-container">
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Genre</th>
                    <th>Artist</th>
                    <th>Path</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="track in subfolder.tracks | orderBy: ['trackNumber', 'title']">
                    <td class="text-nowrap text-center">{{track.trackNumber}}</td>
                    <td class="text-nowrap">{{track.title}}</td>
                    <td class="text-nowrap">{{track.album}}</td>
                    <td class="text-nowrap">{{track.genre}}</td>
                    <td class="text-nowrap">{{track.artist}}</td>
                    <td class="text-nowrap">{{track.path}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </dd>
        </div>
      </dl>
    </div>
    <audit-trail entity="subfolder"></audit-trail>
    <back-button></back-button>
  </div>
</section>
