<section data-ng-controller="SubfoldersController" data-ng-init="findOne()">
  <div cg-busy="subfolder"></div>

  <div class="page-header">
    <h1>{{subfolder.title}}
      <small class="text-muted">[ Subfolder Title ]</small>
    </h1>
  </div>
  <div ncy-breadcrumb></div>
  <div class="col-md-12">
    <div class="pull-right" data-ng-show="authentication.user._id == subfolder.user._id">
      <a class="btn btn-primary" href="/#!/folders/{{subfolder.parentFolder}}/subfolders/{{subfolder._id}}/edit" title="Edit Subfolder">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
    </div>
    <div class="group">
      <div class="metadata table-container">
        <table class="table table-hover table-condensed">
          <tr class="text-muted">
            <td>Total Files:</td>
            <td class="text-primary text-right"><strong data-ng-bind="subfolder.musicFilesCount"></strong></td>
          </tr>
        </table>
        <table class="table table-hover table-condensed">
          <tr class="text-muted">
            <td>Path:</td>
            <td class="text-primary text-right"><strong data-ng-bind="subfolder.path"></strong></td>
          </tr>
        </table>
      </div>
      <div data-ng-if="subfolder.tracks.length" class="clearfix">
        <p class="text-muted">Tracks:</p>
        <div class="table-container">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Title</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Artist</th>
                <th>Path</th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="track in subfolder.tracks | orderBy: ['trackNumber', 'title'] | itemsPerPage: 8">
                <td class="text-nowrap text-center">{{track.trackNumber}}</td>
                <td class="text-nowrap">{{track.title}}</td>
                <td class="text-nowrap">{{track.album}}</td>
                <td class="text-nowrap">{{track.genre}}</td>
                <td class="text-nowrap">{{track.artist}}</td>
                <td class="text-nowrap">{{track.path}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pull-right">
          <dir-pagination-controls template-url="lib/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
      </div>
    </div>
    <audit-trail entity="subfolder"></audit-trail>
    <a data-ng-href="#!/folders/{{subfolder.parentFolder}}" class="btn btn-default" title="Go Back">Back</a>
  </div>
</section>
