<!DOCTYPE html>
<html>
<head>
    <title>Swara Server</title>
    <style rel="stylesheet" type="text/css">
        .container {
            position       : absolute;
            top            : 0;
            bottom         : 0;
            left           : 0;
            right          : 0;
            display        : table-cell;
            vertical-align : middle;
            text-align     : center;
        }

        .content {
            vertical-align : middle;
            display        : inline-block;
            margin         : auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <p><img src="../img/loading.gif" alt="Loading..."></p>

            <h1>Swara Server</h1>
            <p><img src="../img/logo.png" alt="Swara Server"></p>
            <p>A MEAN.js based server application that catalogs your music collection and streams it to the Swara client apps.</p>
        </div>
    </div>
</body>
</html>
